In [2]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [42]:
df=pd.DataFrame({'area':[2600,3000,3200,3600,4000],'bedrooms':[3,4,np.nan,3,5],'age':[20,15,18,30,8],'price':[550000,565000,610000,595000,760000]})

In [43]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [62]:
import math
med=math.floor(df.bedrooms.median())
med

3

In [63]:
df.bedrooms=df.bedrooms.fillna(math.floor(med))
med

3

In [64]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [65]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.5   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [58]:
type(df.bedrooms)

pandas.core.series.Series

In [39]:
df.bedrooms=df.bedrooms.fillna(med)

In [40]:
df

   area bedrooms  age   price
0  2600        3   20  550000
1  3000        4   15  565000
2  3200      NaN   18  610000
3  3600        3   30  595000
4  4000        5    8  760000

In [66]:
reg=linear_model.LinearRegression()

In [68]:
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [69]:
reg.coef_

array([    198.47159002, -116583.73881651,  -14267.77585936])